<!doctype html>
<html>
  
  <head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/6aabd10540dc53562cb9a5d6053862055a2569ea.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Zensure</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="disabled">
                <a href="#">Home</a> 
              </li>
              <li class="active">
                <a href="#">About</a> 
              </li>
              <li>
                <a href="#">Help</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1>About Zensure.</h1>
        <p>Zensure is focused on solving one simple problem: dealing with your health
          insurance.&nbsp;</p>
        <p>Too often, we experienced the hassle of our health insurance provider
          making a mistake on what benefits they owed us. &nbsp;Claims got denied
          for silly mistakes... &nbsp;A child wasn't seen as a dependent or member
          of the plan. &nbsp;A certain procedure was denied when it shouldn't have
          been. &nbsp;A deductible had been paid and covered.&nbsp;</p>
        <p></p>
        <p>You get the picture. &nbsp;</p>
        <p>And every time this happened to us, we had to hop on the phone, listen
          to some nasty hold music and then be told to resubmit things, or get signatures,
          we even have to fire up a fax every now and then. &nbsp;Faxes! &nbsp;It's
          2013, baby! &nbsp;</p>
        <p>After enough of this nonsense, we decided to create Zensure. &nbsp;&nbsp;</p>
        <p>Zensure is built to take the hassle out of dealing with your health insurance
          provider. &nbsp;</p>
        <p></p>
        <p></p>
      </div>
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="row main-features">
        <div class="span4"></div>
        <div class="span4"></div>
        <div class="span4"></div>
      </div>
    </div>
  </body>

</html>