<!doctype html>
<html>
  
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/6aabd10540dc53562cb9a5d6053862055a2569ea.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Zensure</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li>
                <a href="#">About</a> 
              </li>
              <li>
                <a href="#">Help</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1>Zensure.</h1>
        <p>Has your health insurance company ever mistakenly not covered a medical
          expense they should have? &nbsp;</p>
        <p>
          <b>Yeah, we thought so.</b> 
        </p>
        <p>Use Zensure. &nbsp;We handle the haggle and follow-up, so you don't have
          to. &nbsp;</p>
        <p></p>
        <a class="btn btn-primary btn-large">Sign Up Now!<br></a> 
      </div>
      <a class="btn btn-large btn-primary btn-block visible-phone" href="#"><span class="btn-label">Sign Up Today!</span></a>
      <div class="row main-features">
        <div class="span4">
          <div class="well">
            <h3>Step 1: Snap a Photo</h3>
            <p>Take a picture of whatever your insurance company sent you.</p>
            <a class="btn btn-primary"
            href="#">
              <span class="btn-label">Find Out More</span> 
              </a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Step 2: Press Submit</h3>
            <p>Submit the photo to Zensure.&nbsp;
              <br>
              <br> 
            </p>
            <p></p>
            <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Step 3: Leave it to Us</h3>
            <p>The Zensure team will follow up, making sure you get paid in full. &nbsp;</p>
            <a
            class="btn btn-success" href="#">
              <span class="btn-label">Find Out More</span> 
              </a>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>